html,
body {
  margin: 0;
  padding: 0;
}

.page-header {
  width: 20ch;
  animation: typing 2s steps(20);
  white-space: nowrap;
  overflow: hidden;
  font-size: 8vh;
  color: black;
}

.flex {
  display: flex;
}

@keyframes typing {
  from {
    width: 0;
  }
}
